:root {
    --color: #8a4dfd;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(150deg, #6c2de4 30%, #3e3939 40%);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #6c2de4 60%, #3e3939 30%);
    --vp-home-hero-image-filter: blur(150px);
    --vp-button-brand-bg: #6c2de4;
    --vp-c-indigo-1: var(--color);
    --vp-c-indigo-2: var(--color);
    --vp-c-indigo-3: var(--color);
}


.user-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.user-img:hover {
    transition: all 1s;
    transform: rotate(360deg);
}

/* 自定义样式 */

@media (max-width: 640px) {
    .VPHome .container {
        padding-top: 70px;
    }
}

@media (min-width: 960px) {
    .VPHome .container {
        padding-top: 80px;
    }

    .VPHome .vp-doc {
        width: 760px;
    }

    .VPHero.has-image .image-container {
        transform: translate(0, 0);
    }

    .VPHero.has-image .main {
        max-width: 700px !important;
        text-align: center;
    }

    .VPHero.has-image .main .text,
    .VPHero.has-image .main .tagline {
        max-width: 100%;
    }
}

.VPHome .container .heading {
    display: block;
    text-align: center !important;
}

.VPHome .container .main {
    margin: 0 auto;
    order: 2 !important;
}

.VPHome .container .image {
    order: 1 !important;
    /* display: none; */
}

.VPHome .container .text {
    text-align: center;
}

/* .dark .VPHome .container .text {
    background: -webkit-linear-gradient(315deg, #6c2de4 25%, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */


.VPHome .container .actions,
.VPHome .text .actions,
.VPHome .container .tagline {
    width: 100%;
}

.VPHome .container .main .name {
    display: none;
}

.VPHome .container .main .actions {
    justify-content: center !important;
}

.tagline {
    text-align: center;
}

.VPHome {
    margin-bottom: 0 !important;
}